@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Designer';
  src: url('../assets/fonts/DESIGNER/DESIGNER.OTF');
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
}


@layer base {
  .LightTheme {
      --background: #FFFFFF;
      --surface-300: rgba(254, 254, 254, 0.37);
      --surface-700: #dbdbdb;
      --primary: #00FFD0;
      --secondary: rgba(126, 47, 255, 0.8);
      --text-900:#000000;
      --text-500:rgba(0, 0, 0, 0.5);
      --border:1px solid rgba(0, 0, 0, 0.11);
      --gradient:linear-gradient(90deg, #00FFD0 -2.07%, rgba(126, 47, 255, 0.8) 100%)
      
  }
  :root {
    --background: #1D2123;
    --surface-300: rgba(51, 55, 59, 0.37);
    --surface-700: #171A1C;
    --primary: #00FFD0;
    --secondary: rgba(126, 47, 255, 0.8);
    --text-900:#FFFFFF;
    --text-500:rgba(255, 255, 255, 0.5);
    --border:1px solid rgba(255, 255, 255, 0.11);
    --gradient:linear-gradient(90deg, #00FFD0 -2.07%, rgba(126, 47, 255, 0.8) 100%)
}
} 


@layer components {
  body{
    font-family: 'Quicksand';
  }
  .example{
    @apply bg-red-500 text-blue-500 ;
    padding: 30px;
  }

}


